a{
    color: #000;
    text-decoration:none;
}

a:hover{text-decoration:underline;
color:#000;
}

.overridebutton:hover, .overridebutton:focus, .overridebutton:active {
    background-color:#5782A7;
    border-color:#5782A7;
}

.bold{
    font-weight:bold;
    font-style:normal;
}

.italic{
    font-weight:normal;
    font-style:italic;
}

.underline{text-decoration:underline;} 
.unbulleted{list-style-type:none;}
.uncenter{text-align:left;}

.pagebackground{background-image:url('../images/background.jpg');}

.kennacustomsheader{ /*overrides the brown header theme*/
    background-color:#5782A7;
    font-family: Raleway;
    font-weight: bold;
}

.kennacustomsfooter{ /*overrides the brown footer theme*/
    background-color:#5782A7;
}

.kennacustomsbackground{
    background-color:rgb(135,166,192,0.7) /*using rgb fromat to set background transparency to 0.7*/

}

.kennacustomstitle {color: #87A6C0!important;}

.overridebutton {
    background-color:#87A6C0;
    border-color: #87A6C0;
}

.resumemenu {
    width:240px;
    position:fixed;
}

.textsize {
    font-size: xx-small;
}

@media only screen and (max-width: 370px) {
    .section-heading .section-heading-lower {
        font-size: 1.5rem;
    }

    .resume ul,
    .resume ol {
        padding-left: .7rem!important;
    }

    .cta .cta-inner {
        padding: 1rem 2.2rem 3rem 1.8rem;
    }
}

@media only screen and (max-width: 600px) and (min-width: 371px) {
    .section-heading .section-heading-lower {
        font-size: 2rem;
    }

    .resume ul,
    .resume ol {
        padding-left: 1.2rem!important;
    }

    .cta .cta-inner {
        padding: 1rem 1.5rem 3rem 1.1rem!important;
    }
}

@media only screen and (max-width: 992px) {
    .intro .intro-text,
    .container .about-heading-content {
        width: 90%;
        margin: -2rem auto 0 auto;
        z-index: 99;
        position: relative;
    }

    .cta .cta-inner {
        padding: 3rem 2.2rem 3rem 1.8rem;
    }

    .resume ol {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 1295px) and (min-width: 993px) {
    
    .intro .intro-text {
        width: 50%;
        padding: 3rem 2rem!important;
    }
    
    .intro .intro-img {
        width: 70%;
    }

    .gallary .intro-text{
        margin-top: -2rem;
        width: 45%;
    }
    
}

/*hex code colors
blue: #5782A7;
light blue: #87A6C0; rgb(135,166,192)
taupe: #AA9183
*/